# Ignore everything in the root except the "wp-content" directory.
!.gitignore

wp-content/*
!wp-content/themes/
!wp-content/plugins/
!wp-content/mu-plugins/
wp-content/mu-plugins/disable-emails-mu.php
*.log

googlecd*
googlehosted*
wp-config.php
wp-config-sample.php
secret*
robots.txt
sitemap*
sitemaps/
phpmyadmin/
newsletters/
icon/
downloads/
aws*
localtime
